.plain{
     margin: 5px 5px 5px 5px;
    text-align: center;
    width: 450px;
    float: left;
}

textarea{
    margin-top: -37px;
    border-radius: 25px;
}

.arr{
    margin: 20px 20px;
    width: 180px;
    padding: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

.box{
    height: 7.7em;
    width: 15em;
    background-color: white;
    margin: -73px 5px 5px 45px; 
    border-radius: 25px;
    font-size: medium;
}

.box2{
    height: 7.7em;
    width: 15em;
    margin: -73px 5px 5px 45px;
    background-color: white;
    border-radius: 25px;
    font-size: medium;
}

.cipher{
    margin: 5px 5px 5px 5px;
    text-align: center;
    width: 450px;
    float: right;
} 

.parent{
width: 900px;
  height: 220px;
  border: 2px solid blue ;
  border-radius: 25px;
  display: flex;
  margin: 70px 150px 70px 300px;
}
