.plain{
     margin: 5px 5px 5px 5px;
    text-align: center;
    width: 450px;
    float: left;
}

textarea{
    margin-top: -37px;
    border-radius: 5px;
}

.arr{
    margin: 150px 20px;
    width: 180px;
    padding: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

.cipher{
    margin: 5px 5px 5px 5px;
    text-align: center;
    width: 450px;
    float: right;
} 

footer{
    position: fixed;
    /* right: 0; */
    font-style: oblique;
    font-weight: 100;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 0.1rem;
    
    text-align: center;
}

.parent{
width: 1000px;
  height: 500px;
  border: 2px solid blue ;
  border-radius: 25px;
  display: flex;
  margin: 70px 150px 70px 300px;
}
